{% extends 'layout.html'%}

{% block body %}
<div class="container-fluid mt-5"> 
<h1>About Us</h1>
<p class="mt-2 text-justify">We are the software developer graduated from Charusat University and always looking forward for the opportunity to learn new thing everyday.Here we have developed a web application in order to learn NLP (Natural Language Processing).</p>
<div class="mt-5 container-fluid d-flex flex-wrap justify-content-between">
    <div class="card mb-3" style="width: 38rem;">
        <!-- <img class="card-img-top" src="." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Gracy Patel</h5>
          <p class="card-text"></p>
          <a href="https://github.com/gracyspatel" class="btn btn-primary">GitHub Profile</a>
        </div>
      </div>
      <div class="card mb-3" style="width: 38rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Sakshi Zalavaldia</h5>
          <p class="card-text"></p>
          <a href="https://github.com/Sakshi-2672" class="btn btn-primary">Github Profile</a>
        </div>
      </div>
</div>
</div>
{% endblock %}